{% load dajaxice_templatetags %}
<!DOCTYPE html>
    <html>
        <head>
            <meta content="utf-8">
            <title>{{ title }}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script src="/static/grappelli/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
            <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css" />
            <script src="/static/assets/js/bootstrap.min.js"></script>
	    <script src="/static/dajax/jquery.dajax.core.js"></script>
	     {% dajaxice_js_import %}
	       <script type="text/javascript">
		$(document).ready(function(){
		    $('#buttonSend').click(function(event){
			Dajaxice.users.send_form(Dajax.process, {'form':$('#my_form').serialize(true)});		   
		    });
		});
	    </script>
            	{% block extrajs %}
                {% endblock %}
        </head>
        <body>
            <div class="container-fluid">
                <div class="span10">
                <form method='post' id="my_form" action='/thanks/'>{% csrf_token %}
                <fieldset>
                    <legend>{{ legend }}</legend>
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.identification.errors }}
                        <label  for="id_identification">Cedula o Identificación</label>
                            {{form.identification}}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.email.errors }}
                        <label  for="id_identification">Correo electronico</label>
                            {{form.email}}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.passwordOne.errors }}
                        <label  for="id_identification">Contraseña</label>
                            {{form.passwordOne}}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.passwordTwo.errors }}
                        <label  for="id_identification">Verificación Contraseña</label>
                            {{form.passwordTwo}}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.franchiseeCode.errors }}
                        <label  for="id_identification">Código de Referencia</label>
                            {{form.franchiseeCode}}
                    </div>
                    <input class="btn btn-primary" id="buttonSend" value="Registarme!" />
                </fieldset>
                </form>
                </div>
            </div>
        </body>
    </html>